.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #a5c7b5;
    color: #506159;
    font-size: 24px;
    padding: 15px; /* Add padding to the top */
    box-sizing: border-box;
    z-index: 1000;
}

.header-container {
    display: flex;
    justify-content: right;
}

.bi-facebook {
    font-size: 15px;
    margin: 4px;
}

.bi-instagram {
    font-size: 15px;
    margin: 4px;
}
.navbar {
    background-color: #a5c7b5 !important;
    color: #506159;
}

.navbar-nav {
    margin-right: 20px;
    margin-left: 20px;
}

.nav-link {
    color: #506159;
}
.logosearch {
    display: flex;
    align-items: center;
    padding-top: 30px;
    background-color: #f8fffb;
    margin-left: 0 !important;
    margin-right: 0 !important;
    width: 100%;
}
.logosearch .logo-link {
    width: 25%;
}

.logosearch img {
    width: 100%;
}

.logosearch input[type="text"] {
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 3px;
    margin-right: 10px;
    width: 50%;
}

.logosearch button[type="submit"] {
    padding: 8px 15px;
    background-color: #a5c7b5;
    color: #506159;
    border: none;
    border-radius: 3px;
}


.separator {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 20px 0;
}

.separator hr {
    flex: 1;
    border: none;
    border-top: 2px solid #ddd; /* farba oddelovača */
}

.separator span {
    margin: 0 10px;
    color: #555; /* farba textu */
}

footer {
    background-color: #a5c7b5;
}

.mybtn {
    display: inline-block !important;
    padding: 10px 20px !important;
    background-color: #a5c7b5 !important;
    color: #506159 !important;
    text-decoration: none !important;
    border: none !important;
    border-radius: 5px !important;
    font-size: 16px !important;
    cursor: pointer !important;
}

.mybtn:hover {
    background-color: #45a049 !important;
}

.btn-danger {
    padding: 10px 20px !important;
    font-size: 16px !important;
}
.main-container {
    background-color: #ffffff;
    padding: 20px;

}

.content-container {
    margin-left: 20px;
    margin-right: 20px;
    padding: 15px;

}
.form-container {
     display: flex;
     justify-content: space-between;
 }

.my-form {
    width: 100%; /* Prispôsobí šírku formulára */
}

.my-form.login-form,
.my-form.registration-form {
    flex: 1; /* Rozťahuje formuláre, aby zaplnil dostupný priestor */
    margin-right: 20px; /* Medzera medzi formulármi */
}
.forms-wrapper {
    display: flex; /* Používa flexbox layout */
    justify-content: space-between; /* Rozmiestňuje elementy tak, aby boli medzi nimi rovnaké medzery */
    width: 100%;
}

.form-group {
    margin-bottom: 10px;
}
.vertical-line {
    height: 100%; /* Výška oddelovača */
    width: 1px; /* Šírka oddelovača */
    background-color: #ccc; /* Farba oddelovača - môžete prispôsobiť podľa potreby */
    margin: 0 20px; /* Rozostup na oboch stranách oddelovača */
}

/* Štýl pre main container pre menšie obrazovky */
@media (max-width: 767px) {
    .main-container {
        padding: 0px;
    }

    .content-container {
        margin-left: 0px;
        margin-right: 0px;
        padding: 15px;

    }

}

.password-input-container, .confirm-password-input-container {
    display: flex;
    align-items: center;
    position: relative;
}

.toggle-password, .toggle-confirm-password{
    position: absolute;
    right: 10px;
    cursor: pointer;
    background: none;
    border: none;
}



.sidebar {
    height: 100%;
    width: 250px;
    background-color: #a5c7b5;
    color: #506159;
    padding-top: 20px;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.sidebar a {
    padding: 15px;
    text-decoration: none;
    font-size: 18px;
    color: #506159;
    display: block;
    transition: background-color 0.3s;
}

.sidebar a:hover {
    background-color: #45a049;
}

.content {
    margin-left: 250px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex-grow: 1;
}

h2 {
    color: #333;
}


@media (max-width: 991px) {
    .container {
        padding: 0;
    }

    .sidebar {
        width: 100%;
        position: static;
        box-shadow: none;
        z-index: initial;
        background-color: #a5c7b5;
        color: #506159;
    }

    .sidebar a {
        padding: 15px;
        text-decoration: none;
        font-size: 18px;
        color: #506159;
        display: block;
        transition: background-color 0.3s;
    }

    .sidebar a:hover {
        background-color: #45a049;
    }

    .content {
        margin-left: 0;
    }
}


